@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-color: rgb(229, 230, 214);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 40px;
}
*{
  box-sizing: border-box;
}